<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%- csrfToken %>" />

    <title><%- title %></title>
  </head>

  <body>
    <div class="text-center mt-2 grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <p class="py-2 text-2xl">Welcome to the TO-DO Manager</p>
        <p class="py-2 text-xl">
          New Here? <a class="text-green-600" href="/signup">Sign-Up now</a>
        </p>
        <p class="py-2 text-xl">
          Already Have an account?
          <a class="text-green-600" href="/login">Login</a>
        </p>
      </div>
    </div>
    <div
      class="mt-2 animate-pulse transition duration-300 delay-500 hover:animate-none"
    >
      <img
        class="text-center border border-blue-500 border-2 w-96 lg:w-1/3 cursor-pointer hover:scale-110 transition duration-900 rounded mx-auto my-0"
        src="/img/icon.png"
        alt="todolist display image"
      />
    </div>
  </body>
</html>
